@use '../../scss/abstracts/variables' as *;
@use '../../scss/abstracts/mixins' as *;

.navbar {
  width: $width-bigger;
  height: 3.6rem;
  background-color: $blue;
  border-radius: $border-radius-medium;
  @include grid();
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  margin-top: $margin-small;
  color: $white;
  padding: 0 $padding-small;

  &-logo {
    font-size: $font-size-medium;
  }

  &-button--login,
  &-button--logout {
    grid-column: 3 / -1;
    justify-self: end;
    width: 7rem;
    height: 60%;
    border-radius: $border-radius-small;
    box-shadow: $box-shadow-card;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &-button--login {
    background-color: $white;
    color: $blue;
    transition: 0.3s;

    &:hover {
      background-color: $blue;
      color: $white;
      outline: 2px solid $white;
    }
  }

  &-button--logout {
    background-color: $red;
    color: $white;
  }

  @media (max-width: $screen-breakpoint-biggest) {
    width: $width-big;
    grid-template-columns: repeat(2, 1fr);

    &-button--login,
    &-button--logout {
      grid-column: 2 / -1;
    }
  }

  @media (max-width: $screen-breakpoint-big) {
    width: $width-medium;
  }

  @media (max-width: $screen-breakpoint-medium) {
    width: $width-small;
  }

  @media (max-width: $screen-breakpoint-small) {
    width: $width-smaller;
    padding: 0 $padding-smaller;

    &-logo {
      font-size: $font-size-small;
    }

    &-button--login,
    &-button--logout {
      width: 5rem;
    }
  }

  @media (max-width: $screen-breakpoint-smaller) {
    width: 100%;
  }
}
